<br><br><br>
<div class="grid col-12">
  <div class="col-6 col-offset-3">
    <div class="surface-card p-4 shadow-2 border-round">
      <div class="col-12 flex">
        <div class="col-6 text-3xl font-medium mb-4">Novo de Usuário</div>
      </div>
      <div class="col-12">
        <form [formGroup]="form">
          <div class="col-12 inline-block">
            <label for="name" class="block font-medium mb-2">Usuário</label>
            <input id="name" formControlName="name" type="text" placeholder="Nome" pInputText class="w-full mb-3">
          </div>

          <div class="col-12 inline-block">
            <label for="email" class="block font-medium mb-2">Email</label>
            <input id="email" formControlName="email" type="email" placeholder="Email" pInputText class="w-full mb-3">
          </div>

          <div class="col-6 inline-block">
              <label for="cpf" class="block font-medium mb-2">CPF</label>
              <p-inputMask [style]="{'width':'100%'}" id="cpf" mask="999.999.999-99" formControlName="cpf" type="text" placeholder="999.999.999-99">
              </p-inputMask>
          </div>

          <div class="inline-block align-multiselect col-6">
            <label for="roles" class="block font-medium mb-2">Roles</label>
            <p-multiSelect [style]="{'width':'100%'}" [panelStyle]="{'width':'100%'}" id="roles" [options]="roles" formControlName="selectedRoles" optionLabel="name">
            </p-multiSelect>
          </div>

          <div class="inline-block col-6 mt-4">
            <button (click)="save()" pButton label="Salvar" icon="pi pi-user-plus" class="w-full p-button-success"></button>
          </div>
          <div class="inline-block col-6 mt-4">
            <button (click)="resetForm()" pButton label="Cancelar" icon="pi pi-times" class="w-full p-button-secondary"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
