<div class="grid grid-nogutter mt-6">
  <div class="col-8 col-offset-4 login-box">
    <div class="surface-card col-4 shadow-2 border-round w-full lg:w-6 internal-box">
      <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3 mt-3">Alterar Senha</div>
        <p-messages [(value)]="messages" [enableService]="false"></p-messages>
      </div>

      <div class="col-10 col-offset-1">
        <form [formGroup]="form">
          <label for="old-password" class="block text-900 font-medium mb-2">Senha atual</label>
          <input id="old-password" formControlName="oldPassword" type="password" pInputText class="w-full mb-6">

          <label for="new-password" class="block text-900 font-medium mb-2">Nova senha</label>
          <input id="new-password" formControlName="newPassword" type="password" pInputText class="w-full mb-3">

          <label for="confirmation-password" class="block text-900 font-medium mb-2">Confirme a nova senha</label>
          <input id="confirmation-password" formControlName="confirmPassword" type="password" pInputText class="w-full mb-6">

          <button (click)="change()" pButton label="Confirmar" icon="pi pi-save" class="w-full mb-3"></button>
        </form>
      </div>
    </div>
  </div>
</div>
