<div> <br><br>

  <div class="grid col-12">
    <div class="col-8 col-offset-2">
      <div class="surface-card p-4 shadow-2 border-round" >
        <div class="col-10 col-offset-1">
          <h2>{{post.title}}</h2>
          <p class="user-name">{{name}}, {{this.post.postDate}}</p>
        </div>
        <div class="col-10 col-offset-1 mt-1 mb-5">
          <div *ngIf="post.images === undefined || post.images.length === 0">
            <div class="col-2 col-offset-5" style=" margin: 150px 0;">
              <p-image src="assets/images/KSYA.gif" alt="Image" width="100%"></p-image>
            </div>
          </div>
          <p-galleria [value]="post.images" [showItemNavigators]="true" [circular]="true" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '100%', 'background-color': '#1A1A1A' }">
            <ng-template pTemplate="item" let-item>
              <img [src]="'data:image/png;base64,' + item.base64"  style="width: 720px; height: 480px"  />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item style="{ 'max-width': '720px';}">
              <div class="grid grid-nogutter justify-content-center">
                <img [src]="'data:image/png;base64,' + item.base64" style="width: 80px;" />
              </div>
            </ng-template>
          </p-galleria>
        </div>
      </div>
    </div>
  </div>

  <div class="grid col-12">
    <div class="col-8 col-offset-2">
      <div class="surface-card p-4 shadow-2 border-round">
        <p-tabView>
          <p-tabPanel header="Descrição">
            <div class="col-10 col-offset-1 text-600">
              <div class="font-medium mb-3" [innerHtml]="post.description"></div>
              <div class="text-600 mt-5">
                <b>Matéria - </b> <div style="display: inline-flex"> {{SubjectEnum.getByValue(post.subject!).label}} </div>
              </div>
              <div class="text-600 mt-5">
                <b>Tags - </b><div *ngFor="let tag of post.tags" style="display: inline-flex"><p-tag class="mr-1" [value]=tag></p-tag></div>
              </div>
              <div class="text-600 mt-5">
                <b>Referências - </b> <div style="display: inline-flex"> {{post.externalReference}} </div>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Arquivos">
            <div class="col-10">
              <div *ngFor="let model of post.models" class="flex align-items-center mb-2">
                <p-button icon="pi pi-download" styleClass="p-button-download" [rounded]="true" [outlined]="true" (onClick)="download(model)"></p-button>
                <div class="ml-3">
                  {{ model.title }}
                </div>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Comentários">
            <div class="col-10 col-offset-1">
              <p>
                Possível melhoria futura
              </p>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
  <div *ngIf="showReviewBar()" >
    <div class=" grid col-12">
      <div class="col-8 col-offset-2">
        <div class="surface-card p-4 shadow-2 border-round">
          <div class="inline-block col-2 left-side-button">
           <p-button (onClick)="approve()">Aprovar</p-button>
          </div>
          <div class="inline-block col-offset-8 col-2 right-side-button">
            <p-button severity="warning" (onClick)="showWriteReviewNoteDialog()">Pedir edição</p-button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <p-toast></p-toast>
  <p-dialog header="Pedir edição" [modal]="true" [(visible)]="writeReviewNoteDialogVisible" [style]="{ width: '50rem' }">
    <form [formGroup]="form">
      <span class="p-text-secondary block mb-5">Adicione notas a sua revisão e detalhe os pontos que precisam ser editados.</span>
      <div class="flex align-items-center gap-3 mb-5">
        <label for="reviewNote" class="hidden">Notas da revisão</label>
        <p-editor id="reviewNote" formControlName="reviewNote" [style]="{ height: '320px'}" class=" mb-3"></p-editor>
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="writeReviewNoteDialogVisible = false" />
        <p-button label="Enviar" (click)="askReview()" />
      </div>
    </form>
  </p-dialog>

  <div *ngIf="post.status === 1 && post.reviews!.length > 0" >
    <p-button icon="pi pi-exclamation-triangle"  class="shadow-3" styleClass="p-button-rounded p-button-warning p-button-raised"
              [style]="{position: 'fixed',
            bottom: '40px',
            right: '40px'}"
              [rounded]="true"
              (onClick)="showReviewNotes()"/>
  </div>

  <p-dialog header="Notas da revisão" [modal]="true" [(visible)]="showReviewNoteDialogVisible" [style]="{ width: '50rem' }">
    <form [formGroup]="form">
      <span class="p-text-secondary block mb-5">Sua postagem foi revisada por um admnistrador. As seguintes alterações devem ser consideradas.</span>
      <div class="flex align-items-center gap-3 mb-5">
        <ul>
          <div *ngFor="let review of post.reviews">
            <li>
              <div class="font-medium mb-3" [innerHtml]="review.reviewNote"></div>
            </li>
          </div>
        </ul>
      </div>
    </form>
  </p-dialog>

  <div *ngIf="post.status === 1" >
    <div class=" grid col-12">
      <div class="col-8 col-offset-2">
        <div class="surface-card p-4 shadow-2 border-round">
          <p-button (onClick)="edit()">Editar</p-button>
        </div>
      </div>
    </div>
  </div>

</div>
