@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body {
  margin: 0;
  background-color: #2f9e41;
}

.p-menubar {
  border: none;
  border-radius: unset;
}

.p-galleria-thumbnail-item {
  flex: auto!important;
}

.p-button {
  background-color: #2f9e41;
  border-color: #2f9e41;
}

.p-splitbutton .p-button {
  background-color: white!important;
  border-color: white!important;
  color: black;
}

.p-splitbutton .p-button:hover {
  background-color: darkgreen!important;
  border-color: darkgreen!important;
}

.p-button:hover {
  background-color: darkgreen;
  border-color: darkgreen;
}

.p-button-warning {
  background-color: orange;
  border-color: darkorange;
}

.p-button-warning:hover {
  background-color: darkorange;
  border-color: darkorange;
}

.p-button-download {
  background-color: transparent!important;
  color: #2f9e41;
}

.p-button-pencil {
  background-color: transparent!important;
  color: #2f9e41;
  border: none;
  padding: 10px;
  height: 3px;
}

.p-button-user {
  background-color: transparent!important;
  color: grey;
  border: none;
  padding: 8px;
  height: 3px;
}

.p-button-secondary {
  background-color: grey;
  border-color: grey;
}

.p-tag {
  background-color: #2f9e41;
}

.left-side-button .p-button {
  float: left;
}

.right-side-button .p-button {
  float: right;
}
